/* .mySwiper {
    width: 100%;
  }
  
  .testimonials_container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .testimonials_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  } */